extends layout.pug
block content
	include partials/_nav.pug


	section.container.mt-5

		section.row.text-center.short-profile.justify-content-center
			section.col-12
				img(src="https://res.cloudinary.com/karsoft92/image/upload/v1557469569/IMG_20170113_225820_123.jpg", alt="" class="sg")
				h3.h3 Kofi Ramos Amoussou
				h5 Web Developer

		section.row.justify-content-center.mt-5
			section.col-8
				section.col
					h4.display-6 About Me
					p Being a self-taught web developer, I'm keen on building simple, responsive and scalable web applications that communicate a clear message to the public. When I'm not coding to develop web applications, I tend to find myself often in the kitchen trying out new recipes.

				section.col
					h4.display-6 Current Project
					p I'm currently working on job portals, the latest being <a href="http://edwuma.work" target="_blank">Edwuma.work</a>

				section.col
					h4.display-6 Things I've made
					p <a href="http://iamkarsoft.github.io/gridlumn-theme/" target="_blank">Gridlumn</a> is a wordpress theme. You can find more on <a href="https://github.com/iamkarsoft" target="_blank">github</a>.

				section.col
					h4.display-6 Things I've made for other people
					p I'm a big fan of the minimalist approach. I tend to build simple and clean websites. I've built websites for <a href="http://www.borgatravel.com" target="_blank">Borga Travel & Tour</a>, <a href="http://www.destinytraveltours.com" target="_blank">Destiny Travel & Tours</a>, <a href="http://bahaiyouthgh.faith" target="_blank">The Bahai Youth of Ghana</a> among others..

				section.col
					h4.display-6 Get in touch
					ul.list-inline
						li.list-inline-item <a href="https://www.facebook.com/iamkarsoft" target="_blank"><span class="fa fa-facebook "></span> /iamkarsoft</a>
						li.list-inline-item <a href="https://www.twitter.com/iamkarsoft" target="_blank"><span class="fa fa-twitter "></span> /iamkarsoft</a>
						li.list-inline-item <a href="https://www.instagram.com/iamkarsoft" target="_blank"><span class="fa fa-instagram "></span> /iamkarsoft</a>
						li.list-inline-item <a href="mailto:karsoft92@gmail.com" class="no-follow"><span class="fa fa-envelope"></span> karsoft92[at]gmail.com</a>



