doctype html
object(type="text/html", data="/.netlify/functions/server")
html(lang="en")
	include ./partials/_head.pug

body
	block content
	section.row.main-content
	

	include ./partials/_footer.pug