extends layout.pug
block content
	include partials/_nav.pug


	section.container.mt-5
		section.row
			section.col-md-4
				h3.h3 Edwuma.work

			section.col-md-4
				h3.h3 Gridlumn Wordpress Theme


