footer.mt-4.p-4
	section.container
		section.row
			section.col-md-4
				p &copy; Linpa Fabrics
			section.col-md-4
			
			section.col-md-4
				p Offices

				ul
					li 
						a(href="tel:00233244787540") 
							span.fa.fa-mobile &nbsp; 0244787540
						|
						| &amp;
						|
						a(href="tel:00233202590000") 
							span.fa.fa-mobile &nbsp;0202590000
					li
						span.fa.fa-envelope
							a(href="mailto:info@linpafabrics.com") &nbsp;info@linpafabrics.com
							|
							| &amp;
							|
							span.fa.fa-envelope
								a(href="mailto:sales@linpafabrics.com") &nbsp;sales@linpafabrics.com

					li
						span.fa.fa-map-marker.text-lowercase &nbsp;SHOP NO 6 MARKET DRIVE ,NEAR ALPHA CAPITAL ,MADINA ACCRA
					li
						span.fa.fa-map-marker.text-lowercase &nbsp;PRESS LINK BATSONAA SPINTEX ACCRA
	script(src="/static/js/jquery-2.1.4.min.js")
	script(src="/static/js/bootstrap.min.js")
	script(src="/static/js/smoothscroll.js")
