footer.mt-4.p-4
	section.container
		section.row
			section.col-md-4
				p &copy; Kofi Ramos Amoussou
			section.col-md-4

			section.col-md-4

	script(src="/static/js/jquery-2.1.4.min.js")
	script(src="/static/js/bootstrap.min.js")
	script(src="/static/js/smoothscroll.js")
