nav.navbar.navbar-expand-lg.navbar-light.navbar-static-top
	a.navbar-brand
		img(src="/static/img/logo.png", alt="")
	button.navbar-toggler(type="button", data-toggle="collapse", data-target=".navbar-collapse")
		span.navbar-toggler-icon

	section.collapse.navbar-collapse
		ul.nav.navbar-nav.ml-auto
			li.nav-item
				a.nav-link(href="/") Home

			li.nav-item
				a.nav-link(href="https://iamkarsoft.github.io") Blog

			li.nav-item
				a.nav-link(href="/projects") Projects

