extends layout.pug
block content
	include partials/_nav.pug


	section.container
		section.col-md-8.offset-2

			section.col-md-12
				img(src="", alt="")
				h3.h3 Kofi Ramos Amoussou
				h5 Web Developer


